@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	<h1 class="display-4">Welcome to the COVID Tracking App.</h1>
	<p>Get Covid-19 case information by <a href="/CovidCases">by state</a> and stay safe and informed.</p>
</div>


